/* Default Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for index */

body {
  background-color: rgb(211, 222, 255);
}

button.submit {
  margin-bottom: 1rem;
}

#app {
  width: 100%;
  height: 100vh;
}

h1 {
  margin-bottom: 1rem;
}

button {
  border: 2px solid black;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

li {
  background-color: lightgrey;
  width: 100%;
  padding: 0.5rem;
  list-style-type: none;
  margin-bottom: 0.25rem;
}
